:root {
  --background: #1d2d50;
  --accent: #fcdab7;
  --accent2: #1e5f74;
  --color: #fefefe;
  --dull: #b8b8b8;
  --error: #e74c3c;
  --highlight: rgba(255, 255, 255, .05);
}

.navbar-nav,
.mr-auto {
  flex: 1;
  margin: auto !important;
  display: flex;
  justify-content: space-between;
}

.titulo-contenido {
  color: #4c327c;
  background-color: #b88dff;
}

.contenedor-adjuntos {
  display: grid;
  grid-template-columns: repeat(5, minmax(100px, 1fr));
  gap: 20px;

  background: #ffd579;
  color: #000;
  padding: 10px;
}

.archivo {
  text-align: center;
  background: #fff;
  border: 1px solid #000;
  padding: 10px;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.errcontainer {
  font-size: 14px;
  opacity: 1;
  transition: opacity .3s;
}

.err {
  margin: 5px 0;
  color: var(--error);
}

.err ul {
  list-style-type: none;
  margin: 0;
  padding-inline-start: 2em;
}

.custom-bg {
  background: linear-gradient(to right, #e2e8f0, #e5e7eb);
}

.custom-btn:hover {
  background-color: #f3e8ff !important;
  transition: background-color 0.3s ease-in-out;
}

.loader {
  height: 64px;
  width: 64px;
  position: fixed;
  top: calc(50% - 32px);
  left: calc(50% - 32px);
  border: 2px solid var(--highlight);
  border-left: 2px solid var(--color);
  border-radius: 50%;
  -webkit-animation: loader 1.5s linear infinite;
  -moz-animation: loader 1.5s linear infinite;
  -ms-animation: loader 1.5s linear infinite;
  -o-animation: loader 1.5s linear infinite;
  animation: loader 1.5s linear infinite;
}

@-webkit-keyframes loader {
  to {
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes loader {
  to {
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@media (prefers-color-scheme: dark) {
  .custom-bg {
    background: linear-gradient(to right, #1f2937, #111827);
    color: white !important;
  }

  .custom-btn {
    background-color: #374151 !important;
    color: white !important;
  }

  .custom-btn:hover {
    background-color: #4b5563 !important;
  }
}